.header {
  background-color: #07294d;
  padding: 10px 0;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-size: 22px;
  font-weight: bold;
  color: #ffff;
  line-height: 0;
}

.logo span {
  color: #ffbc09;
}

.nav-item {
  margin-right: 50px;
}
.item {
  text-decoration: none;
  color: #ffff;
  margin-right: 25px;
  font-size: 18px;
}
.item:hover {
  color: #ffbc09;
}
